{% extends 'base.html.twig' %} {% block title %}BewVed | Systeme de gestion de
groupe{% endblock %} {% block body %}
<main>
  <div class="content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptas
    molestias odit necessitatibus accusamus voluptatem rerum dolorum quo, porro
    hic similique fuga blanditiis error quia aliquam molestiae numquam, sequi
    dicta!
  </div>
</main>
{% endblock %}
