/* reset css */
* {
    margin: 0;
    padding: 0;
}

:root {
    --font-size: 18px;
    --color-dark: #14082E;
    --color-darkWhite: #EEEEEE;
    --color-gold: #FFDFAE;
    --color-white: #F4F4F4;
    --color-blue: #5E80B4;
    --color-red: #FFB3AE;
    --color-green: rgb(196, 255, 174);
}

a {
    text-decoration: none;
}

html,
body,
footer {
    background: var(--color-dark);
    font-size: var(--font-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100vw;
}

body header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

body header.home {
    height: 25%;
    color: var(--color-gold);
}

body footer {
    padding-top: 2rem;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-gold);
    font-size: 1rem;
}

body header .logo {
    width: 8rem;
    max-width: 150px;
    height: 8rem;
    max-height: 150px;
    font-weight: bold;
    background-color: var(--color-gold);
    color: var(--color-dark);
    font-size: 7rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

body header.home div h1 {
    display: block;
    color: var(--color-gold);
    font-size: 2rem;
}

@media screen and (max-width: 500px) {
    body header.home div h1 {
        display: none;
    }
}

body header nav.menu {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin-bottom: 1rem;
    margin-top: 1rem;

}

body header nav.menu a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 1rem;
}

body main {
    width: 100vw;
    min-height: 50vh;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;

}

body main h2 {
    padding-top: 1rem;

}

body main div.content {
    width: 80%;
    margin-top: 1rem;
    background-color: var(--color-white);
    color: var(--color-dark);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body table {
    border: 1px solid var(--color-dark);
    border-radius: 10px;
    border-width: 3px;
    width: 100%;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

nav.filter form>div {
    display: flex;
    width: 150%;
    justify-content: space-around;
}

nav.filter form>div>div {
    display: flex;
    align-content: center;
    align-items: center;
}

nav.filter form>div label {
    margin-right: 1rem;
}

nav.filter form>div button {
    padding: 0.5rem;
    font-size: large;
    border-radius: 5px;
}

input[type=checkbox] {
    width: 100%;
    padding: 12px 20px;
}

td {
    width: 1rem;
    padding: 0.1rem 0rem 0.1rem 0rem;
    text-align: center;
}

main div.delete {
    background-color: var(--color-red);
    text-align: center;
    cursor: pointer;
    padding: 0.1rem 1rem 0.1rem 1rem;

}

main div.edit {
    background-color: var(--color-green);
    text-align: center;
    cursor: pointer;
    padding: 0.1rem 1rem 0.1rem 1rem;

}

main div.buttonadd {
    background-color: var(--color-gold);
    text-align: center;
    cursor: pointer;
    padding: 1rem 1rem 1rem 1rem;
    width: 80%;
    display: flex;
    font-weight: bolder;
    justify-content: space-around;

}

a span.small {
    background-color: var(--color-gold);
    text-align: center;
    cursor: pointer;
    padding: 1rem 1rem 1rem 1rem;
    width: 80%;
    display: flex;
    font-weight: bolder;
    justify-content: space-around;

}

main nav.filter form {
    display: flex;
}

label.checkboxlabel {
    border: solid 1px black;
}

main nav.filter form input[type="checkbox"] {
    display: none;
}

.checkboxlabelcheck {

    background: rgb(20, 246, 87);
    color: black;
    border: solid 1px rgb(240, 0, 0);
}