{% extends 'base.html.twig' %} {% block title %} Ajouter un Apprenant{% endblock
%} {% block body %}
<main>
  <h2>Ajouter un SkillGroup</h2>
  <div class="content">
    {{ form(form) }}
  </div>
</main>
{% endblock %}
