{% extends 'base.html.twig' %} {% block title %}ajoutter une promo{%
endblock %} {% block body %}
<main>
  <h2>Liste des Promotions</h2>
  <div class="content">
    {{ form(form) }}
  </div>

</main>
{% endblock %}
