{% extends 'base.html.twig' %} {% block title %}Hello FormerController!{%
endblock %} {% block body %}
<main>
  <h2>Liste des Formateurs</h2>
  <div class="content">
    {{ form(form) }}
  </div>
  <div class="content">
    <div class="buttonadd">
      Ajouter un Formateur<i class="fa-sharp fa-solid fa-plus"></i>
    </div>
  </div>
</main>
{% endblock %}
